.logo{

}
#lego1{
    color:#456268  ;
    background-color:#79a3b1 ;
    float: left;
    font-size: 20px;

}
#lego2{
    color:#456268  ;
    font-size: 20px;

}
#lego3{
    color:#456268  ;
    background-color:#79a3b1 ;
    font-size: 20px;

}
.v1{
    float: left;

}
.v2{
    float: left;

}
.v3{
    float: left;
    


}
